click==6.7
chardet==3.0.4
datadog==0.22.0
elasticsearch==5.2.0
hiredis==0.2.0
pyodbc==4.0.22
python-dateutil==2.6.1
PyYAML==3.12
redis==2.10.6
requests==2.19.1
six==1.11.0
urllib3==1.23

# tests
coverage==4.3.4
mock==2.0.0
pytest==3.0.6
pytest-cov==2.4.0
tox==2.6.0

# alerting
raven==6.5.0