packages:
   yum:
      gcc-c++: []
      python35-devel: []
      unixODBC: []
      unixODBC-devel: []
      git: []
      freetds: []
commands:
   00_github_ssh:
      command: "ssh-keyscan github.com >> ~/.ssh/known_hosts"
   01_install_redis_using_epel:
      command: |
         sudo yum --enablerepo=epel -y install redis
         sudo chkconfig redis on
         sudo service redis start
