packages:
   yum:
      gcc-c++: []
      python35-devel: []
      unixODBC: []
      unixODBC-devel: []
      git: []
      freetds: []
commands:
   00_github_ssh:
      command: "ssh-keyscan github.com >> ~/.ssh/known_hosts"
files:
   "/etc/odbcinst.ini" :
    mode: "000755"
    owner: root
    group: root
    source: ./odbcinst.ini

   "/etc/odbc.ini" :
    mode: "000755"
    owner: root
    group: root
    source: ./odbc.ini

   "/etc/freetds.conf" :
    mode: "000755"
    owner: root
    group: root
    source: ./freetds.conf