packages:
   yum:
      gcc-c++: []
      python35-devel: []
      unixODBC: []
      unixODBC-devel: []
      git: []
      freetds: []
commands:
   00_github_ssh:
      command: "ssh-keyscan github.com >> ~/.ssh/known_hosts"
   01_odbc_setup:
      command: "mv -f ./odbc.ini /etc/odbc.ini"
      command: "mv ./odbcinst.ini /etc/odbcinst.ini"
      command: "mv ./freetds.conf /etc/freetds.conf"