files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/01_setup_odbc.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo yum remove -y unixODBC unixODBC-devel freetds || true
      sudo yum install -y /opt/python/current/app/unixODBC.rpm
      sudo yum install -y /opt/python/current/app/unixODBC-devel.rpm
      sudo ACCEPT_EULA=Y yum install -y /opt/python/current/app/msodbcsql17.rpm
      sudo odbcinst -i -s -f /opt/python/current/app/msodbc.ini -l
      export ESIMPORT_CONFIG=/opt/python/current/app/local_settings.py