files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/01_setup_odbc.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo mv -f /opt/python/current/app/odbcinst.ini /etc/odbcinst.ini
      sudo mv -f /opt/python/current/app/odbc.ini /etc/odbc.ini
      sudo mv -f /opt/python/current/app/freetds.conf /etc/freetds.conf
      export ESIMPORT_CONFIG=/opt/python/current/app/local_settings.py