files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/56_esdatacheck.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      esimport esdatacheck account &>> /var/log/esimport/esdatacheck_account.log &
      esimport esdatacheck conference &>> /var/log/esimport/esdatacheck_conference.log &
      esimport esdatacheck device &>> /var/log/esimport/esdatacheck_device.log &
      esimport esdatacheck property &>> /var/log/esimport/esdatacheck_property.log &
      esimport esdatacheck session &>> /var/log/esimport/esdatacheck_session.log &
