files:
   "/etc/cron.d/mycron":
      mode: "000644"
      owner: root
      group: root
      content: |
         */5 * * * * root /usr/local/bin/esmonitor.sh

   "/usr/local/bin/esmonitor.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash

         date > /tmp/date
         if ps -ef | grep -v grep | grep esimport ; then
            exit 0
         else
            sudo pkill esimport
            esimport sync account --start-date 2017-01-01 &>> /var/log/esimport/account.log &
         fi

         exit 0

commands:
   remove_old_cron:
      command: "rm -f /etc/cron.d/*.bak"