USE [Eleven_OS]
GO
/****** Object:  Table [dbo].[NAS_Device_Type]    Script Date: 4/26/2018 12:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAS_Device_Type](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[Description] [varchar](256) NOT NULL,
 CONSTRAINT [PK_NAS_Device_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_NAS_Device_Type] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

-- PUT DATA INSERT SCRIPTS BELOW
SET IDENTITY_INSERT NAS_Device_Type ON
INSERT [dbo].[NAS_Device_Type](ID, Name, Description)
VALUES(1,'Nomadix','The Nomadix NAS device type.')
INSERT [dbo].[NAS_Device_Type](ID, Name, Description)
VALUES(2,'IP3','The IP3 NAS device type.')
INSERT [dbo].[NAS_Device_Type](ID, Name, Description)
VALUES(3,'HP ProCurve','The HP ProCurve NAS device type.')
GO
