USE [Radius]
GO
/****** Object:  Table [dbo].[Radius_Stop_Event]    Script Date: 6/29/2018 8:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radius_Stop_Event](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Radius_Acct_Event_ID] [bigint] NOT NULL,
	[Acct_Terminate_Cause] [int] NULL,
	[Acct_Session_Time] [int] NULL,
	[Acct_Output_Octets] [bigint] NULL,
	[Acct_Input_Octets] [bigint] NULL)
--  CONSTRAINT [PK_Radius_Stop_Event] PRIMARY KEY CLUSTERED 
-- (
-- 	[ID] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PS_Partition_Stop_Event_By_Id]([ID])
-- ) ON [PS_Partition_Stop_Event_By_Id]([ID])

-- GO
-- ALTER TABLE [dbo].[Radius_Stop_Event]  WITH NOCHECK ADD  CONSTRAINT [FK_Radius_Stop_Event_Radius_Acct_Event] FOREIGN KEY([Radius_Acct_Event_ID])
-- REFERENCES [dbo].[Radius_Acct_Event] ([ID])
-- GO
-- ALTER TABLE [dbo].[Radius_Stop_Event] CHECK CONSTRAINT [FK_Radius_Stop_Event_Radius_Acct_Event]
-- GO

-- PUT DATA INSERT SCRIPTS BELOW
SET IDENTITY_INSERT Radius_Stop_Event ON
